body {
    background-color: rgb(0, 0, 0);
    z-index: 1;
    margin: 0;
    font-family: 'Roboto black', Courier, monospace;
    font-size: 2vw;
    color: aliceblue;
}

h1{
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}
.titleframe{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#Inicio{
    position: relative;
    display: block;
    height: 50vh;
    width: 100vw;
}

#Description{
    position: absolute;
    left: 5%;
    height: 50vh;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    margin-top: 3vw;
    border-radius: 2%;
    padding-left: 2vw;
}

.content{
    position: relative;
    display: block;
    height: 100vh;
    width: 100vw;
    background-image: url('https://41.media.tumblr.com/efd15be8d41b12a7b0ef17fba27c3e20/tumblr_mqqy59HMaf1qzattso1_1280.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

