/*-----------------------------------------------------------------General----------------------------------------------------------*/

::-webkit-scrollbar{
	display: none;
}

:root{
	--main-body-color: black;
	--main-font-color: aliceblue;
	--main-font-size: 5vw;
	--main-font-family: 'Courier New', Courier, monospace;
}

/*--------------------------------------------------------------Etiquetas-----------------------------------------------------------*/

body {
	margin: 0;
	background-color: var(--main-body-color);
	color: var(--main-font-color);
	font-size: var(--main-font-size);
	font-family: var(--main-font-family);
}

header{
	background-color: rgb(0, 0, 0);
}

h1{
	font-size: 7vw;
	margin: 0;
}

h2{
	font-size: 5vw;
	width: auto;
	text-align: center;
}

/*-----------------------------------------------------------------Class------------------------------------------------------------*/

.light{
	position: absolute;
	top: -25vw;
	right: -25vw;
	width: 50vw;
	height: 50vw;
	background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(0, 0, 0, 0) 50%);
}

.colour{
	transition: 1s;
	/*
	animation-duration: 2s;
	animation-name: colour;
	animation-iteration-count: infinite;
	animation-direction:alternate;
	animation-timing-function: ease-in-out;
	animation-play-state: running;*/
}

.colour:hover{
	font-size: 8vw;
	animation-play-state: paused;
}

.sis{
	margin-left: 3vw;
}

.center{
	display: grid;
	justify-content: center;
}

.grid-container{
	width: 80vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1vw;
}

.flex-container{
	width: 80vw;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	gap: 1vw;
}

.red{
	align-content: center;
	text-align: center;
	color: transparent;
	font-size: 1px;
	height: 5vw;
	width: 200px;
	border-style: solid;
	border-width: 1px;
	border: 1px solid rgba(255, 255, 255, 0.523);
	background-color: transparent;
	border-radius: 15px;
	margin: 1vw;
	/*filter: grayscale(1);*/
	transition: 1s ease-in-out;
}

.red:hover{
	/*filter: grayscale(0);*/
	color: black;
	font-size: 4vw;
	width: 12vw;
	height: 6vw;
	background-color: azure;
	box-shadow: 0px 0px 150px rgb(255, 255, 255);
	
}



/*-----------------------------------------------------------------ID---------------------------------------------------------------*/

#top{
	
}

#Name{
	font-size: 2vw;
	width:50vw;
	letter-spacing: 0.5vw;
	/*filter: drop-shadow(6px 4px 5px red);*/
	color: azure;
}

/*---------------------------------------------------------------Keyframe-----------------------------------------------------------*/

@keyframes colour {
	0% {
		filter: drop-shadow(10px 7px 10px red);
	}

	25% {
		filter: drop-shadow(10px 7px 10px rgb(208, 255, 0));
	}

	50% {
		filter: drop-shadow(10px 7px 10px rgb(0, 255, 102));
	}

	100% {
		filter: drop-shadow(10px 7px 10px rgb(0, 200, 255));
	}
  }

/*----------------------------------------------------------Media Querys------------------------------------------------------------*/

@media () {

}